

<div class="tm-main-content" id="top">
    <div class="tm-top-bar-bg"></div>    
    <div class="tm-top-bar" id="tm-top-bar">
        <div class="container">
            <div class="row">
               
                <!-- <nav class="navbar navbar-expand-lg narbar-light">
                    <a class="navbar-brand mr-auto" href="#">
                        <img src="assets/img/mars-logo-sml.png" style="width:180px" alt="Site logo">
                   
                    </a>
                    <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                              <a class="nav-link "  href="/home">Home </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link " href="/destination">Our Destinations <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="/specials">Our Specials</a>
                        </li> 
                          <li class="nav-item">
                              <a class="nav-link" href="/contact">Contact Us</a>
                          </li>
                      </ul>
                </div>                            
            </nav> -->
            <app-header></app-header>

        </div> <!-- row -->
    </div> <!-- container -->
    </div> <!-- .tm-top-bar -->
    <router-outlet></router-outlet>
    
<div class="tm-page-wrap mx-auto" >
  


    <section class="p-5 tm-container-outer tm-bg-gray" style="background-image:url(assets/img/KEER.gif);">            
        <div class="container">
            <div class="row">    
                <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">   <br><br>                     
                    <h2 class="text-uppercase mb-4"  style="color: white;">our <strong>specials</strong> designed for you</h2>
                    <p class="mb-4" style="color: white;">Marie Lou Simaan the director of the company has been in the travel business for 37 years and has gained sustainable knowledge of the industry. All the staff presently employed are of an immediate and senior status and well travelled.

                        We felt it was necessary to establish ourselves as a professional, valued and competitive agency in the world of travel which we felt was lacking.
                    </p>
                    <!-- <a href="rspecial" class="text-uppercase btn-primary tm-btn">explore All Specials</a>                                -->
                </div>
            </div>
        </div>            
    </section>
    
        
<!--   
    <app-destinations></app-destinations>
    <app-places></app-places>
    <app-contact></app-contact>
    <app-footer></app-footer> -->
    <!-- Destination -->  

    <!-- Recomme -->
    <div class="tm-container-outer" id="tm-section-3">
      

        
        <div class="tab-content clearfix">
               
            
     
            
                <!-- Tab 4 MALDIVES-->
                <div class="tab-pane fade show active" id="4a">
                    <!-- Current Active Tab WITH "show active" classes in DIV tag -->
                                          
                    
                         <div class="tm-recommended-place-wrap">                   
                            <div class="tm-recommended-place-wrap">  
                                <div class="tm-recommended-place">
                                    <img src="assets/img/Tsarabanjina.jpg" alt="Image" class="img-fluid tm-recommended-img">
                                    <div class="tm-recommended-description-box">
                                        <h3 class="tm-recommended-title "> <a href="/maldives">Constance Moofushi</a></h3>
                               
            
                                        <ul class="a" >
                                            <li  class="fa fa-calendar-times-o tm-text-gray" aria-hidden="true"> </li> Valid Between: <b> 1 Jun 2021</b>       
                                        </ul>       

                                        <hr class="hr">                            
                                          <p class="fa fa-bed tm-text-highlight">&nbsp;Ocean view&nbsp;&nbsp;&nbsp; </p>
                                          <p class="fa fa-heart tm-text-highlight">&nbsp;Gym&nbsp;&nbsp;&nbsp; </p>
                                          <p class="fa fa-tint tm-text-highlight">&nbsp;Pool&nbsp;&nbsp;&nbsp; </p>
                                          <p class="fa fa-bath tm-text-highlight">&nbsp;Bath/Shower&nbsp;&nbsp;&nbsp; </p>        
                                                                                                       
                                          
                                    </div>    
                                    <a href="/ospecial" class="tm-recommended-price-box">
                                         <!-- <p style="color: aliceblue;">&nbsp;&nbsp;&nbsp;&nbsp;From</p>  -->
                                         <!-- <p class="tm-recommended-price"> &nbsp;&nbsp;&nbsp;&nbsp;R 11 301</p>  -->
                                        <p class="tm-recommended-price-link">&nbsp;&nbsp;&nbsp;&nbsp; View Special</p>
                                    </a>                        
                    </div>    
                    </div>  
                    </div>                      
                    </div> <!-- tab-pane -->



    
       
          
        </div>
    </div>

    <app-footer></app-footer>

</div>
</div>


    
<script> 
    /* Google Maps
    ------------------------------------------------*/
    var map = '';
    var center;

    function initialize() {
        var mapOptions = {
            zoom: 16,
            center: new google.maps.LatLng(37.769725, -122.462154),
            scrollwheel: false
        };

        map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

        google.maps.event.addDomListener(map, 'idle', function() {
          calculateCenter();
      });

        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(center);
      });
    }

    function calculateCenter() {
        center = map.getCenter();
    }

    function loadGoogleMap(){
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
        document.body.appendChild(script);
    } 


    
    /* DOM is ready
    ------------------------------------------------*/
    $(function(){

        // Change top navbar on scroll
        $(window).on("scroll", function() {
            if($(window).scrollTop() > 100) {
                $(".tm-top-bar").addClass("active");
            } else {                    
             $(".tm-top-bar").removeClass("active");
            }
        });

        // Smooth scroll to search form
        $('.tm-down-arrow-link').click(function(){
            $.scrollTo('#tm-section-search', 300, {easing:'linear'});
        });

        // // // Date Picker in Search form
        var pickerCheckIn = datepicker('#inputCheckIn');
        var pickerCheckOut = datepicker('#inputCheckOut');

        // Update nav links on scroll
        $('#tm-top-bar').singlePageNav({
            currentClass:'active',
            offset: 60
        });

        // Close navbar after clicked
        $('.nav-link').click(function(){
            $('#mainNav').removeClass('show');
        });

        // Slick Carousel
        $('.tm-slideshow').slick({
            infinite: true,
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
        });

        loadGoogleMap();                                       // Google Map                
        $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright           
    });

</script>         


<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://unpkg.com/three@0.129.0/build/three.min.js"></script>

<script>
    function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImgs");
      var imgText = document.getElementById("imgtexts");
      expandImg.src = imgs.src;
      imgText.innerHTML = imgs.alt;
      expandImg.parentElement.style.display = "block";
    }
    </script>
